:root {
  --sideWidth: 140px;
  --marginRight: 40px;
  --bodyBackground: #d9dcd6;
  --headerBackground: #13293d;
  --headerForeground: #fff;
  --navForeground: #b9c6ae;
  --navHoverForeground: #fff;
  --navHoverBackground: grey;
  --bannerSubtitleForeground: rgb(224, 224, 224);
  --bannerSubtitleBackground: rgba(128, 128, 128, 0.7);
  --portfolioCardBackground: rgba(255, 255, 255, 0.7);
  --portfolioCardBadgeForeground: #000;
  --portfolioCardBadgeBackground: rgba(255, 255, 255, 0.7);
}

/* override standard navbar to fix at top of window and give transparent background */
.navbar {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}

.jumbotron {
  /* implemented as style in the html */
  /* background-image: url("../images/pexels-markus-spiske-1089440.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

  /* width: 100%;
  min-height: 20vh; */
  /* height: 20vw; */
  /* height: 400px; */
  /* position: relative; */

  /* flex-direction: column;
  justify-content: space-between; */
}

/* right align text in sidebar */
.sidebar-text {
  text-align: right;
}

/* provides a thicker boarder than the Bootstrap default */
.border-width-4 {
  border-width: 4px !important;
}

/* set minimum card height for consistent cards with small screens */
.badge {
  min-height: 150px;
}

/* alter card size and image scaling */
.card-img, .card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

/* give badge a transparent background */
.badge {
  border-radius: 10px;
  color: var(--portfolioCardBadgeForeground);
  background-color: var(--portfolioCardBadgeBackground);
}

/* fix card-img-overlay anchor links */
.card-link {
  position: relative;
}

/* set size and spacing for skills icons */
.icon {
  width: 65px;
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icons-text {
  text-transform: uppercase;
  color: #3e4141;
  font-size: 11px;
  letter-spacing: 0.2em;
}

/* add hover over shadow box to footer links */
.footer-link:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* media queries */

/* Tablets */
@media only screen and (max-width: 768px) {
  /* remove background image to reduce mobile load time */
  .jumbotron {
    background-image: none !important;
  }
  /* center the left panel (Work/Skills/About) and remove the right border */
  .sidebar {
    width: 100%;
    border-right-style: none !important;
    border-bottom-style: solid;
    margin-bottom: 10px;
  }
  /* center sidebar text in this layout */
  .sidebar-text {
    text-align: center;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}